<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vita Journal</title>
    <link rel="icon" href="/images/Lotus_icon.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/7a1db0dc17.js" crossorigin="anonymous"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="/styles/layout.css">
    <link rel="stylesheet" href="/styles/content.css">
</head>
<body>
  
  <header>
    <nav class="navbar navbar-expand-custom navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="#"> <img src="images/Lotus_icon.png" alt="Logo" width="80" height="60" class="d-inline-block align-text-top">
            <h1 class="nav-name">La Vita Journal</h1></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fa-solid fa-bars fa-flip-vertical fa-lg" style="color: #f3f3f3;"></i>
      </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class="nav-link" href="/"><i class="fa-solid fa-house fa-lg"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contact"><i class="fa-solid fa-address-card fa-lg"></i>Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/faq"><i class="fa-solid fa-circle-question fa-lg"></i>FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/create"><i class="fa-solid fa-pen-nib fa-lg"></i>Create</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/entries"><i class="fa-solid fa-book-journal-whills fa-lg"></i>Entries</a>
        </li>

      </ul>
    </div>
    </nav>
  </header>
  <div class="wrapper">
  <main class="container">
